.documentsandforms {
  .contentHead {
    padding: 5px;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14),
      0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
    background-color: #cb2030;
  }
  .contentHead {
    padding: 5px;
    color: white !important;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14),
      0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
    background-color: #cb2030;
  }

  .paper {
    padding: 10px;
  }

  .tabsStyles {
    color: black;
    background-color: #eee;
  }

  .container_documentMailingAddress {
    margin-top: -30px !important;
    color: white !important;
    background-color: #976340;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .container_trustee {
    margin-top: -30px !important;
    color: white !important;
    background-color: #976340;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .container_shareholder {
    margin-top: -30px !important;
    color: white !important;
    background-color: #976340;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .cardHead_General {
    margin-top: -30px !important;
    color: white !important;
    background-color: #976340;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .cardCategory {
    padding: 10px;
  }

  .inputColor:focus {
    color: blue;
  }

  .docPDF {
    margin-left: "3px";
    color: #cb2030;
    fontSize: 20px;
  }
  .docLink {
    text-decoration: none;
    cursor: pointer;
  }
  .docTblHead {
    color: #976340;
  }
  .accountInfoBtn {
    background-color: #976340;
    color: white !important;
    float: right;
  }
  .accountInfoBtn:hover {
    background-color: #976340;
    color: white !important;
    float: right;
  }

  .errorTextarea {
    border-bottom: 2px solid #cb2030;
  }

  .snackbarSucess {
    background-color: #43a047;
  }
  .tblHeadCell {
    color: white;
  }
  .tabsStyles {
    color: black;
    background-color: #eee;
  }

  .tblHeadSortLink{
    padding: 10px;
    background: #d8d6d6;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .accountIDLink{
    padding: 10px;
    background: #d8d6d6;
    border-radius: 5px;
    cursor: pointer!important;
    font-weight: bold;
  }
}
